extends layout

block content
  head
    title A Brief History of Time

  body
    h1 Update Book
    form(method="post" action=`/books/${current.fixed}`)
      p
        label(for='title') Title
        input#title(name='title' type='text' value=`${current.title}`)
      p
        label(for='author') Author
        input#author(name='author' type='text' value=`${current.author}`)
      p
        label(for='genre') Genre
        input#genre(name='genre' type='text' value=`${current.genre}`)
      p
        label(for='year') Year
        input#year(name='year' type='text' value=`${current.year}`)
      p
        input(type='submit' value='Update Book')
    form(method='post' action=`/books/${current.fixed}/delete` onsubmit="return confirm('Do you really want to delete this book?');")
      p
        a.button(href='/') Cancel
      p
        input(type='submit' value='Delete Book')